.logo-brand {
    margin-left: 10px;
    height: 25px;
}

.modal-body-overflow {
    max-height: 470px;
    overflow-y: auto;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: $color-black;
        }
        &::-webkit-scrollbar {
            width: 8px;
            background-color: $color-black;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $color-default;
        }
}

.inactive-slide {
    .slide {
        border: 2px solid red;
    }
}

.header-link-main {
    height: 55px;
}

.body-login {
    background-color: $color-default;
    height: 100%;
    .dv-login {
        margin-top: 10px;
    }
}

.li-nosotros {
    cursor: default;
}

.textarea-1x {
    height: 80px !important;
}

.textarea-2x {
    height: 100px !important;
}

.textarea-3x {
    height: 250px !important;
}

.textarea-4x {
    height: 300px !important;
}

.slider {
    .slide {
        position: relative;
        height: 100px;
        img {
            width: 100%;
            height: 100%;
        }
        .edit {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            border: none;
            width: 100%;
            height: 100%;
            background: rgba(#fff, 0.4);
            button {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
            }
        }
        &:hover .edit {
            display: block;
        }
        &.cruz {
            padding: 10px;
            border: 1px solid;
            cursor: pointer;
        }
    }
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}


.animation-slow {
    animation-duration: 0.5s;
    animation-delay: 0s;
}

.scrollableContainer {
    height: 400px;
}

.dvHidden {
    display: none;
}

.li-usuario {
    color: #fff;
}