html {
    height: 100%;
    font-family: $font-family-blaster-infinite;
}

h1, h2, h3, h4 {
    /*text-shadow: $carousel-text-shadow;*/
}

hr {
    border-top: 2px solid $color-secondary;
    margin-top: 0px;
}