$carousel-indicators-bottom: -40px;
$carousel-indicators-size: 15px;

$color-default: #000027;
$color-primary: #072D5E;
$color-secondary: #16477F;
$color-white: #ffffff;
$color-black: #000000;

$navbar-header-top-height: 80px;
$navbar-header-top-margin: 25px;

$activeColor: $color-secondary;

$image-bg: $color-secondary;
$figcaption-bg: $color-secondary;