$carousel-indicators-bottom: -40px;
$carousel-indicators-size: 15px;

$color-default: #D7C966;
$color-primario: #9900CC;
$color-secundario: #34FC99;
$color-terciario: #546645;
$color-cuartario: #FFFFFF;
$color-white: #ffffff;
$color-black: #515151;

$navbar-header-top-height: 80px;
$navbar-header-top-margin: 25px;

$activeColor: $color-terciario;

$image-bg: $color-terciario;
$figcaption-bg: $color-terciario;