<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Cabeceras</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Cabeceras</h2>
<hr>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <scrollable-table watch="cabeceras" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="descripcion">Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="!loading"><td colspan="3">Cargando...</td></tr>
                    <tr ng-show="!loading && cabeceras.length === 0"><td colspan="3">No hay registros</td></tr>
                    <tr ng-show="!loading && cabeceras.length !== 0" ng-repeat="cabecera in cabeceras" row-id="{{ cabecera.id }}">
                        <td>{{ cabecera.id }}</td>
                        <td>{{ cabecera.descripcion }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="showCabecerasEdit(cabecera, $event)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
    </div>
</div>