<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Directorio</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Directorio</h2>
<hr>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1"> 
        <button type="button" class="btn btn-primary" ng-click="showContactosAdd($event)"><span class="glyphicon glyphicon-plus"></span> Nuevo Contacto</button>
        <div class="radio">
            <label>
                <input type="radio" ng-model="search.estado_id" value=""> 
                Todos
            </label>
            <label>
                <input type="radio" ng-model="search.estado_id" value="1"> 
                Activos
            </label>
            <label>
                <input type="radio" ng-model="search.estado_id" value="2"> 
                Inactivos
            </label>
        </div>
        <scrollable-table watch="contactos" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="nombre_completo">Nombre Completo</th>
                        <th sortable-header col="numero">Teléfono</th>
                        <th sortable-header col="email">Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loading"><td colspan="5">Cargando...</td></tr>
                    <tr ng-show="!loading && contactos.length === 0"><td colspan="5">No hay registros</td></tr>
                    <tr ng-show="!loading && contactos.length !== 0" ng-class="{'danger': contacto.estado_id === 2}" ng-repeat="contacto in contactos | toArray:false | filter:search" row-id="{{ contacto.id }}">
                        <td>{{ contacto.id }}</td>
                        <td>{{ contacto.nombre_completo }}</td>
                        <td>{{ contacto.numero }}</td>
                        <td>{{ contacto.email }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="showContactosEdit(contacto, $event)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button ng-show="contacto.estado_id === 1" type="button" class="btn btn-danger btn-sm" ng-click="showContactosDelete(contacto)" title="Deshabilitar"><span class="glyphicon glyphicon-remove"></span></button>
                            <button ng-show="contacto.estado_id === 2" type="button" class="btn btn-default btn-sm" ng-click="showContactosActivate(contacto)" title="Activar"><span class="glyphicon glyphicon-ok"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
    </div>
</div>