<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Información General</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}" role="alert" ng-show="message.type !== undefined">
    <button type="button" class="close" ng-click="message.type = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.text }} 
</div>
<h2>Información General</h2>
<hr>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <scrollable-table watch="infos" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-header col="data">Dato</th>
                        <th sortable-header col="value">Contenido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="!loading"><td colspan="3">Cargando...</td></tr>
                    <tr ng-show="!loading && infos.length === 0"><td colspan="3">No hay registros</td></tr>
                    <tr ng-repeat="info in infos" row-id="{{ info.dato }}">
                        <td>{{ info.dato }}</td>
                        <td><span ng-bind-html="info.value | limitTo: 90"></span><span ng-if="info.value.length > 90">...</span></td>
                        <td><button type="button" class="btn btn-primary btn-sm" ng-click="showInfosEdit(info, $event)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
    </div>
</div>