<ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
</ol>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Información General</h2>
            </div>
            <a ui-sref="infos">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Nosotros</h2>
            </div>
            <a ui-sref="nosotros">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Slides</h2>
            </div>
            <a ui-sref="slides">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Clientes</h2>
            </div>
            <a ui-sref="clientes">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Servicios</h2>
            </div>
            <a ui-sref="servicios">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Noticias</h2>
            </div>
            <a ui-sref="noticias">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Directorio</h2>
            </div>
            <a ui-sref="directorio">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Cabeceras</h2>
            </div>
            <a ui-sref="cabeceras">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Roles</h2>
            </div>
            <a ui-sref="roles">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Usuarios</h2>
            </div>
            <a ui-sref="users">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>