<ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
</ol>
<h2 class="header-link-main">Inicio</h2>
<hr>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Información General</h2>
            </div>
            <a ui-sref="infos">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Clientes</h2>
            </div>
            <a ui-sref="clientes">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Servicios</h2>
            </div>
            <a ui-sref="servicios">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Productos</h2>
            </div>
            <a ng-href="#/productos">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Clientes</h2>
            </div>
            <a ng-href="#/clientes">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Obras</h2>
            </div>
            <a ng-href="#/obras">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Páginas</h2>
            </div>
            <a ng-href="#/pages">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Convocatorias</h2>
            </div>
            <a ng-href="#/convocatorias">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Tipos de Sugerencias</h2>
            </div>
            <a ng-href="#/tipo_sugerencias">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Asesorías</h2>
            </div>
            <a ng-href="#/asesorias">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Cabeceras</h2>
            </div>
            <a ng-href="#/headers">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Roles</h2>
            </div>
            <a ng-href="#/roles">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="header-link-main">Usuarios</h2>
            </div>
            <a ng-href="#/users">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>