<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Roles</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Roles</h2>
<hr>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <button type="button" class="btn btn-primary" ng-click="showRolesAdd($event)"><span class="glyphicon glyphicon-plus"></span> Nuevo Rol</button>
        <div class="radio">
            <label>
                <input type="radio" ng-model="search.estado_id" value=""> 
                Todos
            </label>
            <label>
                <input type="radio" ng-model="search.estado_id" value="1"> 
                Activos
            </label>
            <label>
                <input type="radio" ng-model="search.estado_id" value="2"> 
                Inactivos
            </label>
        </div>
        <scrollable-table watch="roles" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="descripcion">Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="!loading"><td colspan="3">Cargando...</td></tr>
                    <tr ng-show="!loading && roles.length === 0"><td colspan="3">No hay registros</td></tr>
                    <tr ng-show='!loading && roles.length !== 0' ng-class="{'danger': rol.estado_id === 2}" ng-repeat="rol in roles | toArray:false | filter:search" row-id="{{ rol.id }}">
                        <td>{{ rol.id }}</td>
                        <td>{{ rol.descripcion }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="showRolesEdit(rol, $event)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button ng-show="rol.estado_id === 1" type="button" class="btn btn-danger btn-sm" ng-click="showRolesDelete(rol)" title="Deshabilitar"><span class="glyphicon glyphicon-remove"></span></button>
                            <button ng-show="rol.estado_id === 2" type="button" class="btn btn-default btn-sm" ng-click="showRolesActivate(rol)" title="Activar"><span class="glyphicon glyphicon-ok"></span></button>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
    </div>
</div>