<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Slides</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Slides</h2>
<hr>
<button class="btn btn-primary" ng-click="saveOrden(slides, $event)"><span class="glyphicon glyphicon-ok"></span> Guardar Orden</button>
<br><br>
<div class="row slider">
    <h3 ng-hide="!loading">Cargando...</h3>
    <div ui-sortable="sortableOptions" ng-model="slides">
        <div ng-hide="loading" class="col-sm-2" ng-repeat="slide in slides" ng-class="{'inactive-slide': slide.estado_id === 2}"
            style="cursor: move;">
            <div class="slide">
                <img class="img-responsive" ng-src="{{ path_location}}/img/slides/{{ slide.imagen }}"/>
                <div class="edit animated fadeIn animation-slow">
                    <button class="btn btn-warning btn-circle btn-lg" ng-click="showSlidesEdit(slide)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="slide cruz" ng-click="showSlidesAdd($event)">
                <img class="img-responsive" src="images/cruz-mas.svg" alt="más" />
                <div class="edit animated fadeIn animation-slow">
                </div>
            </div>
        </div>
    </div>
</div>