<form novalidate angular-validator angular-validator-submit="saveSlide(slide, 'btnSaveSlide', imagen_preview)" name="SlidesEdit">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modificar Slide</h4>
    </div>
    <div class="modal-body modal-body-overflow">
        <div class="form-group">
            <label for="txtTitulo">Título</label>
            <input id="txtTitulo" class="form-control" type="text" ng-model="slide.titulo" name="slideTitulo" />
        </div>
        <div class="form-group">
            <label for="flImagen">Imagen</label>
            <input id="flImagen" type="file" class="form-control" ngf-select="preview_imagen($file, $invalidFiles)" 
                accept="image/*" ngf-max-height="15000" ngf-max-size="10MB" name="slideImagen" />
            <img ng-hide="imagen_preview === undefined || imagen_preview === null" class="img-responsive" ng-src="{{tmp_path + '/' + imagen_preview}}" alt="imagen previa" >
            <span ng-hide="imagen_preview === undefined || imagen_preview === null">Imagen cargada correctamente</span>
            <span ng-show="loading_imagen">Cargando...</span>
            <span ng-show="!loading && loading_imagen === null">No fue posible cargar la Imagen</span>
        </div>
        <div class="form-group">
            <label>Estado</label>
            <div>
                <label><input type="radio" ng-model="slide.estado_id" ng-value="1"> Activo</label>
                <label><input type="radio" ng-model="slide.estado_id" ng-value="2"> Inactivo</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveSlide" class="btn btn-success" type="submit">Guardar Slide</button>
    </div>
</form>