<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Usuarios</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}" role="alert" ng-show="message.type !== undefined">
    <button type="button" class="close" ng-click="message.type = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.text }} 
</div>
<h2>Usuarios</h2>
<hr>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <button type="button" class="btn btn-primary" ng-click="showUsersAdd($event)"><span class="glyphicon glyphicon-plus"></span> Nuevo Usuario</button>
        <scrollable-table watch="users" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th style="width: 20%;" sortable-header col="username">Nombre de Usuario</th>
                        <th sortable-header col="email">Email</th>
                        <th sortable-header col="rol.descripcion">Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="!loading"><td colspan="5">Cargando...</td></tr>
                    <tr ng-show="!loading && users.length === 0"><td colspan="5">No hay registros</td></tr>
                    <tr ng-class="{'danger': user.estado_id === 2}" ng-repeat="user in users" row-id="{{ user.id }}">
                        <td>{{ user.id }}</td>
                        <td style="width: 20%;">{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.rol.descripcion }}</td>
                        <td><button type="button" class="btn btn-primary btn-sm" ng-click="showUsersEdit(user, $event)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
    </div>
</div>