<div class="col-sm-4 col-sm-offset-4 dv-login">

    <img class="img-responsive" src="images/logo.jpg" alt="Logo In Excelsis Deo">
    <form novalidate angular-validator angular-validator-submit="loginUser(user, 'btnLoginUser')" name="usersLogin" angular-validator-quiet>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Login</h2>
            </div>
            <div class="panel-body">   
                <div class="alert alert-dismissible" ng-class="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}" role="alert" ng-show="message.type !== undefined">
                    <button type="button" class="close" ng-click="message.type = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message.text }} 
                </div>
                <div class="form-group">
                    <label for="txtUsername">Nombre de Usuario</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        <input id="txtUsername" class="form-control" type="text" ng-model="user.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtPassword">Password</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-flash"></span></div>
                        <input id="txtPassword" class="form-control" type="password" ng-model="user.password">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button id="btnLoginUser" type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>